html,body,iframe{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  border:none;
}
pre {
  margin:0;
  padding:5px;
  border:solid 1px #ccc;
  white-space: pre-wrap;
}
pre div {
  font: inherit;
}
.main>div{
  flex-basis: 50%;
}
#spec {
  overflow-x: hidden;
}
